/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
  background-size: cover;
}

section {
  padding-top: 8rem;
}
h1 {
  color: white;
  font
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
